.home img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    }

    .navbar-nav .nav-link {
        color: white !important; /* Define a cor do texto como branco */
      }

      .navbar-brand {
        color: white !important; /* Define a cor do texto como branco */
      }

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #382B47;
    color: white;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 20px;
  }
  
  .grid-item {
    text-align: center;
  }
  
  .grid-item img {
    max-width: 100%;
    height: auto;
    padding: 10px;
  }
  
  .grid-item figcaption {
    color: white;
  }

#links img{
    width: 50px;
    height: 50px;
    padding: 10px;
    filter: grayscale(100%) brightness(0) invert(1);
}

.aboutme {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #9D88B2;
    color: white;
}

p{ 
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
}

.skills{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #382B47;
    color: white;
}

#skillsimg img{
    width: 100px;
    height: 100px;
    padding: 10px;
}

.education{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #9D88B2;
    color: white;
}

.education h1{
  margin-top: 20px;
  align-items: center;
  text-align: center;
}
.education h2 {
  align-items: center;
  text-align: center;
}

.education ul{
  width: 30%;
  margin: 0 auto;
}

.education ul ul {
  margin: 0;
  width: auto;
}

@media (max-width: 768px) {
  .education ul{
    width: 65%;
  }
}


.certifications {
    align-items: baseline;
    justify-content: center;
    background-color: #382B47;
    color: white;
    padding: 20px;
  }
  
  .certifications h1 {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .cursos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .cursos {
    display: inline-block;
    width: 300px;
    height: 450px;
    margin: 10px;
    border-radius: 6px;
    background-color: #1e1b22;
    overflow: hidden;
    flex: 1;
    vertical-align: top;
    cursor: pointer; /* Altera o cursor para indicar que o curso é clicável */
    transition: height 0.5s; /* Adiciona uma transição suave de altura */
  }

  .cursos img {
    width: 100%;
    border-radius: 6px 6px 0 0;
  }
  
  .cursos h4 {
    margin: 12px;
  }
  .cursos p{
    padding-left: 12px;
    padding-right: 12px;
    text-align: justify;
  }

.projects{
    align-items: baseline;
    justify-content: center;
    background-color: #9D88B2;
    color: white;
    padding: 20px;
}
.projects h1{
  margin-bottom: 20px;
  text-align: center;
}

.projetos {

  display: inline-block;
  width: 300px;
  height: 158px;
  margin: 10px;
  border-radius: 6px;
  background-color: #1e1b22;
  overflow: hidden;
  flex: 1;
  vertical-align: top;
  cursor: pointer;
  padding: 2px;
  
}

.projetos h4 {
  margin: 8px 10px 2px 10px;
  color: white;
}

.projetos h5 {
  display: inline-block; /* Exibe os elementos lado a lado */
  background-color: #4a0f0f; /* Cor de fundo */
  border: none; /* Borda */
  border-radius: 5px; /* Arredonda as bordas */
  padding: 4px 3px; /* Espaçamento interno */
  margin: 4px 1px 4px 10px; /* Margem entre os elementos */
  color: #f5f0fd;
}


.expandido {
  height: auto !important; /* Garante que o conteúdo seja totalmente visível */
}

footer {
  background-color: #333; /* Cor de fundo */
  color: white; /* Cor do texto */
  text-align: center; /* Centraliza o texto */
  padding: 20px 0; /* Espaçamento interno */
}

/* Estilos para a div do rodapé */
#rodape {
  position: fixed; /* Fixa a div do rodapé na parte inferior da janela */
  bottom: 0; /* Alinha na parte inferior */
  width: 100%; /* Largura total */
  align-items: center;
}