.home img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    }

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #382B47;
    color: white;
}

#links img{
    width: 50px;
    height: 50px;
    padding: 10px;
    filter: grayscale(100%) brightness(0) invert(1);
}

.aboutme {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #9D88B2;
    color: white;
}

p{ 
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
}

.skills{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #382B47;
    color: white;
}

#skillsimg img{
    width: 100px;
    height: 100px;
    padding: 10px;
}

.education{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #9D88B2;
    color: white;
}


.certifications{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #382B47;
    color: white;
}

.projects{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #9D88B2;
    color: white;
}

